*{
    font-family: "Poppins";
}

.containerdiv{
    height: calc(100vh - 52px);
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Post{
    width: 40%;
    background-color: #fff;
    box-shadow: 1px 1px 3px 3px rgb(238, 238, 238);
    border-radius: 10px;
}

.delet-icon{
    width: 20px;
    position: relative;
    left: 190px;
    cursor: pointer;
}

.post_disc{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin: 5px auto;
    overflow-y: scroll;
    text-align: center;
    overflow-wrap: break-word;

}
.post_img{
    max-width: 450px;
    max-height: 450px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.comments{
    background-color: #fff;
    box-shadow: 1px 1px 3px 3px rgb(238, 238, 238);
    border-radius: 10px;
    width: 40%;
    height: 500px;
    overflow: scroll;
}.comments label{
    color: rgb(94, 94, 94);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.info{
    margin: 5px;
    display: flex;
    align-items: center;
}

.info>div{
 width: 250px;
 overflow: hidden;
}
.comment_img{
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comment_info{
    text-decoration: none;
    color: rgb(35 34 33);
    font-size: 16px;
}
.datecomment{    
    font-size: 12px !important;

}
.comment_disc{
    border-bottom: 1px solid rgb(170, 170, 170);
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding-left: 50px;
    overflow-wrap: break-word;
}